<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %> | 週末会議室</title>
    <meta name="keywords" content="<%= keywords %>">
    <meta name="description" content="<%= description %>">
    <script
            src="https://code.jquery.com/jquery-3.4.1.min.js"
            integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
            crossorigin="anonymous"></script>
    <% if(flag==='sapporo' || flag === 'nagoya') { %>
        <script src="../common/js/jquery.carousel.js"></script>
        <script type="text/javascript">
            $(function($) {
                $('.slider02').carousel({
                    touch         : true,
                    touchDistance : '80',
                    autoSlide     : true,
                    repeat        : true,
                    imgHoverStop  : false,
                    navHoverStop  : false,
                    interval      : 3000,
                    duration      : 500,
                    easing        : 'swing',
                    viewSlide     : 3,
                    skip          : true,
                    responsive    : true,
                    breakpoint    : [{'width':479, 'viewSlide':1},
                        {'width':767, 'viewSlide':2},
                        {'width':1023, 'viewSlide':3}]
                });
            });
        </script>
    <% } %>
    <% if(page_title==='information') { %>
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css"/>
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css"/>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>
    <script>
        $(function(){
            $('.slick01').slick({autoplay: true,dots: true,});
            $('.slick02').slick({autoplay: true,dots: true,});
            $('.slick03').slick({autoplay: true,dots: true,});
            $('.slick04').slick({autoplay: true,dots: true,});
            $('.slick05').slick({autoplay: true,dots: true,});
            $('.slick06').slick({autoplay: true,dots: true,});
            $('.slick07').slick({autoplay: true,dots: true,});
            $('.slick08').slick({autoplay: true,dots: true,});
            $('.slick09').slick({autoplay: true,dots: true,});
            $('.slick10').slick({autoplay: true,dots: true,});
        });
    </script>
    <% } %>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1/themes/ui-lightness/jquery-ui.css">
    <link rel="stylesheet" href="<% if(lower===1) { %>../<% }else if(lower===2){ %>../../<% }else if(lower===3){ %>../../../<% } %>common/css/style.css">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async
            src="https://www.googletagmanager.com/gtag/js?id=UA-141689948-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-141689948-1');
    </script>
</head>
<body class="<%= page_title %>" id="index">
<nav class="navbar navbar-expand-lg navbar-dark bg-navbar">
    <div class="container">
        <a class="navbar-brand" href="<% if(lower===1) { %>../<% }else if(lower===2){ %>../../<% }else if(lower===3){ %>../../../<% } %>">
            <img src="<% if(lower===1) { %>../<% }else if(lower===2){ %>../../<% }else if(lower===3){ %>../../../<% } %>common/img/home/rogo.svg" alt="">
        </a>
        <% if(flag !== '') { %>
        <div class="sns-icon">
            <ul class="sns-icon__list">
                <li class="sns-icon__item">
                    <a href="<% if(flag === 'sapporo') { %>https://twitter.com/sapporonakajima<% } else { %>https://twitter.com/nagoyaimaike<% } %>" target="_blank">
                        <i class="fab fa-3x fa-twitter-square"></i>
                    </a>
                </li>
                <li class="sns-icon__item">
                    <a href="<% if(flag === 'sapporo') { %>https://www.instagram.com/sapporonakajima/<% } else { %>https://www.instagram.com/nagoyaimaike/<% } %>" target="_blank">
                        <i class="fab fa-3x fa-instagram"></i>
                    </a>
                </li>
            </ul>
        </div>
        <% } %>
        <% if(page_title!=='home') { %>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
        <% } %>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <div class="navbar-hidden">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
<% if(flag === 'sapporo') { %>
                        <a class="nav-link" href="<% if(lower===1) { %>../<% }else if(lower===2){ %>../../<% }else if(lower===3){ %>../../../<% } %>sapporo/">TOP</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="<% if(lower===1) { %>../<% }else if(lower===2){ %>../../<% }else if(lower===3){ %>../../../<% } %>sapporo/beginner/">初めての方</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="<% if(lower===1) { %>../<% }else if(lower===2){ %>../../<% }else if(lower===3){ %>../../../<% } %>sapporo/peace/">安心のヒミツ</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="<% if(lower===1) { %>../<% }else if(lower===2){ %>../../<% }else if(lower===3){ %>../../../<% } %>sapporo/info/">施設案内/料金</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="<% if(lower===1) { %>../<% }else if(lower===2){ %>../../<% }else if(lower===3){ %>../../../<% } %>sapporo/utilization/">活用イメージ</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="<% if(lower===1) { %>../<% }else if(lower===2){ %>../../<% }else if(lower===3){ %>../../../<% } %>sapporo/access/">アクセス</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="<% if(lower===1) { %>../<% }else if(lower===2){ %>../../<% }else if(lower===3){ %>../../../<% } %>sapporo/contact/">申し込み/お問い合わせ</a>
<% } else if(flag === 'nagoya') { %>
                            <a class="nav-link" href="<% if(lower===1) { %>../<% }else if(lower===2){ %>../../<% }else if(lower===3){ %>../../../<% } %>nagoya/">TOP</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="<% if(lower===1) { %>../<% }else if(lower===2){ %>../../<% }else if(lower===3){ %>../../../<% } %>nagoya/beginner/">初めての方</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="<% if(lower===1) { %>../<% }else if(lower===2){ %>../../<% }else if(lower===3){ %>../../../<% } %>nagoya/peace/">安心のヒミツ</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="<% if(lower===1) { %>../<% }else if(lower===2){ %>../../<% }else if(lower===3){ %>../../../<% } %>nagoya/info/">施設案内/料金</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="<% if(lower===1) { %>../<% }else if(lower===2){ %>../../<% }else if(lower===3){ %>../../../<% } %>nagoya/utilization/">活用イメージ</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="<% if(lower===1) { %>../<% }else if(lower===2){ %>../../<% }else if(lower===3){ %>../../../<% } %>nagoya/access/">アクセス</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="<% if(lower===1) { %>../<% }else if(lower===2){ %>../../<% }else if(lower===3){ %>../../../<% } %>nagoya/contact/">申し込み/お問い合わせ</a>
<% } %>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav><!-- /.navbar -->

<% if(page_title === 'home') { %>
<div class="mainphoto">
    <div class="maincontents">
        <div class="mainleft">
            <p><span>土</span><span>日</span>だけの</p>
            <p><span>「地域最安値」</span></p>
            <p>貸会議室こちらにあります。</p>
        </div>
        <div class="mainright">
            <p>私たちは、スペースの活用について考えました。</p>
            <p>そこで貸会議室という分野で、<span class="text--bold">「必要なスペース」</span>を<span class="text--bold">「お安い」</span>お値段で法人様に、ご提供することに致しました。会議室を借りたいが<span class="text--bold">「この程度で高い貸し会議室は借りられない」</span>などお困りの企業様・ご担当者様がおりましたら、ぜひお任せ下さい。我々は、<span class="text--bold">土日のみの貸し出し</span>ですが<span class="text--bold">中小企業様をメインにお安い金額</span>で貸し会議室をご提供させていただきます。</p>
            <div class="image-item">
                <img src="<% if(lower===1) { %>../<% }else if(lower===2){ %>../../<% }else if(lower===3){ %>../../../<% } %>common/img/home/image1.png" alt="曜日画像">
                <img src="<% if(lower===1) { %>../<% }else if(lower===2){ %>../../<% }else if(lower===3){ %>../../../<% } %>common/img/home/image2.png" alt="値段画像">
                <img src="<% if(lower===1) { %>../<% }else if(lower===2){ %>../../<% }else if(lower===3){ %>../../../<% } %>common/img/home/image3.png" alt="期間画像">
            </div>
        </div>
    </div>
</div><!-- /.mainphoto -->
<% } %>

<% if(flag === 'sapporo') { %>
<div class="container">
    <nav class="nav">
        <ul class="nav__list">
            <li class="nav__item"><a href="<% if(lower===1) { %>../<% }else if(lower===2){ %>../../<% }else if(lower===3){ %>../../../<% } %>sapporo/" <% if(page_title==='sapporo') { %>class="active"<% } %>>TOP</a></li>
            <li class="nav__item"><a href="<% if(lower===1) { %>../<% }else if(lower===2){ %>../../<% }else if(lower===3){ %>../../../<% } %>sapporo/beginner/" <% if(page_title==='beginner') { %>class="active"<% } %>>初めての方</a></li>
            <li class="nav__item"><a href="<% if(lower===1) { %>../<% }else if(lower===2){ %>../../<% }else if(lower===3){ %>../../../<% } %>sapporo/peace/" <% if(page_title==='peace') { %>class="active"<% } %>>安心のヒミツ</a></li>
            <li class="nav__item"><a href="<% if(lower===1) { %>../<% }else if(lower===2){ %>../../<% }else if(lower===3){ %>../../../<% } %>sapporo/info/" <% if(page_title==='information') { %>class="active"<% } %>>施設案内/料金</a></li>
            <li class="nav__item"><a href="<% if(lower===1) { %>../<% }else if(lower===2){ %>../../<% }else if(lower===3){ %>../../../<% } %>sapporo/utilization/" <% if(page_title==='utilization') { %>class="active"<% } %>>活用イメージ</a></li>
            <li class="nav__item"><a href="<% if(lower===1) { %>../<% }else if(lower===2){ %>../../<% }else if(lower===3){ %>../../../<% } %>sapporo/access/" <% if(page_title==='access') { %>class="active"<% } %>>アクセス</a></li>
            <li class="nav__item"><a href="<% if(lower===1) { %>../<% }else if(lower===2){ %>../../<% }else if(lower===3){ %>../../../<% } %>sapporo/contact/" <% if(page_title==='contact') { %>class="active"<% } %>>申し込み/お問い合わせ</a></li>
        </ul>
    </nav><!-- /.nav -->
</div>
<% } else if(flag === 'nagoya') { %>
    <div class="container">
        <nav class="nav">
            <ul class="nav__list">
                <li class="nav__item"><a href="<% if(lower===1) { %>../<% }else if(lower===2){ %>../../<% }else if(lower===3){ %>../../../<% } %>nagoya/" <% if(page_title==='nagoya') { %>class="active"<% } %>>TOP</a></li>
                <li class="nav__item"><a href="<% if(lower===1) { %>../<% }else if(lower===2){ %>../../<% }else if(lower===3){ %>../../../<% } %>nagoya/beginner/" <% if(page_title==='beginner') { %>class="active"<% } %>>初めての方</a></li>
                <li class="nav__item"><a href="<% if(lower===1) { %>../<% }else if(lower===2){ %>../../<% }else if(lower===3){ %>../../../<% } %>nagoya/peace/" <% if(page_title==='peace') { %>class="active"<% } %>>安心のヒミツ</a></li>
                <li class="nav__item"><a href="<% if(lower===1) { %>../<% }else if(lower===2){ %>../../<% }else if(lower===3){ %>../../../<% } %>nagoya/info/" <% if(page_title==='information') { %>class="active"<% } %>>施設案内/料金</a></li>
                <li class="nav__item"><a href="<% if(lower===1) { %>../<% }else if(lower===2){ %>../../<% }else if(lower===3){ %>../../../<% } %>nagoya/utilization/" <% if(page_title==='utilization') { %>class="active"<% } %>>活用イメージ</a></li>
                <li class="nav__item"><a href="<% if(lower===1) { %>../<% }else if(lower===2){ %>../../<% }else if(lower===3){ %>../../../<% } %>nagoya/access/" <% if(page_title==='access') { %>class="active"<% } %>>アクセス</a></li>
                <li class="nav__item"><a href="<% if(lower===1) { %>../<% }else if(lower===2){ %>../../<% }else if(lower===3){ %>../../../<% } %>nagoya/contact/" <% if(page_title==='contact') { %>class="active"<% } %>>申し込み/お問い合わせ</a></li>
            </ul>
        </nav><!-- /.nav -->
    </div>
<% } %>

<% if(lower >= 1) { %>
<div class="container">
<div class="breadcrumb">
    <ul class="breadcrumb__list">
        <li class="breadcrumb__item"><a href="<% if(lower===1) { %>../<% }else if(lower===2){ %>../../<% }else if(lower===3){ %>../../../<% } %>">週末会議室</a></li>
        <% if(lower == 1) { %>
            <li class="breadcrumb__item"><%= bread %></li>
        <% } else if(lower == 2) { %>
            <li class="breadcrumb__item"><a href="../"><%= bread %></a></li>
            <li class="breadcrumb__item"><%= bread_sec %></li>
        <% } else { %>
            <li class="breadcrumb__item"><a href="../../"><%= bread %></a></li>
            <li class="breadcrumb__item"><a href="../"><%= bread_sec %></a></li>
            <li class="breadcrumb__item"><%= bread_thi %></li>
        <% } %>
    </ul>
</div>
</div>
<% } %>

<div class="container">
